body{
    background-color: hsl(185, 75%, 39%);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

footer{
    position: relative;
}

h2{
    color: hsl(229, 23%, 23%);
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 1.2em;
}
 
h3, p, span{
    color:hsl(227, 10%, 46%);
    font-family: "Kumbh Sans";
    font-weight: 400;
    font-size: 1em;
}

/* Patterns */

.bg-patterns{
    position: relative;
}

.pattern-top{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -35%;
    margin-left: -20%;
    box-shadow: 0 0 60px 0px hsl(185, 75%, 39%);
    z-index: -2;
}

.pattern-bottom{
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 28%;
    margin-left: 50%;
    box-shadow: 0 0 60px 0px hsl(185, 75%, 39%);
    z-index: -1;
}

/* Main Element */

.main-element{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 40px 30px 60px 0px hsl(185, 75%, 39%);
    margin: 15% 37% 0 37%;
    overflow: hidden;
    position: absolute;
    min-width: 380px;
    min-height: 400px;
}

/* Bg-img */
.bg-img{
    background-image: url("/images/bg-pattern-card.svg");
    background-size: 420px;
    min-width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
}

/* Personal-info */

.personal-info img{
    position: relative;
    margin-top: -35%;
    border-radius: 50%;
    border: solid 5px hsl(0, 0%, 95%);
}

.personal-data{
    padding-bottom: 5%;
}

.personal-info span{
    margin-left: 4px;
}

/* Metrics */

.metrics{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-evenly;
    align-items: center;    
    align-content: baseline;
    border-top: solid 1px hsl(0, 0%, 88%);
    padding: 7% 0 7%;
}

.metrics h2{
    margin: 0 0 10px 0;
}

.metrics p{
    margin: 0;
    font-size: 0.7em;
    letter-spacing: 0.2em;
}

.metric-data{
    width: 20%;
}

/* Attribution */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries */

@media only screen and (max-width: 768px){
    body{
        background-color: hsl(185, 75%, 39%);
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
    }

    /* Patterns */

    .bg-patterns{
        position: relative;
    }
    
    .pattern-top{
        width: 100%;
        position: absolute;
        top: 0%;
        right: 0;
        bottom: 0;
        left: 0%;
        margin-top: -180%;
        margin-left: -180%;
        box-shadow: 0 0 60px 0px hsl(185, 75%, 39%);
        z-index: -2;
    }
    
    .pattern-bottom{
        width: 100%;
        position: absolute;
        text-align: right;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 60%;
        margin-left: 50%;
        box-shadow: 0 0 60px 0px hsl(185, 75%, 39%);
        z-index: -1;
    }

    /* Main Element */
    .main-element{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: hsl(0, 0%, 95%);
        box-shadow: 40px 30px 60px 0px hsl(185, 75%, 39%);
        margin: 30% 5% 0 5%;
        overflow: hidden;
        position: absolute;
        min-width: 90%;
        min-height: 380px;
    }

    /* Bg-img */
    .bg-img{
        background-image: url("/images/bg-pattern-card.svg");
        background-size: 420px;
        min-width: 100%;
        min-height: 130px;
        background-repeat: no-repeat;
    }

}

